*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.parentDiv{
  padding: 10px;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card{
  height: 400px;
  width: 280px;
  border: 2px solid white;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.top img{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 5px solid grey;
  object-fit: cover;
}

.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 30px;
}

.center{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.tags{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.card button{
  height: 40px;
  width: 100px;
  border-radius: 15px;
  margin-left: 80px;
  background-color: rgb(226, 43, 156);
  color: white;
}