*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

body{
  height: 100%;
  width: 100%;
  background-color: #111;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card{
  width: 350px;
  border: 1px solid #fff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card img{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.card p{
  margin: 10px 10px 10px 10px;
}
.card button{
  padding: 10px;
  border-radius: 10px;
  color: #111;
  border: none;
  background-color: white;
}